

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <h1>Hello World!</h1>
    <div id="my_content">
        Here is some <b>text.</b> <br>
        There is other <i>text.</i>
    </div>
    <input id="clickButton" type="button" value="Click Me!">

    <input id="num1_input" type="text">
    <input id="num2_input" type="text">
    <input id="backendCall" type="button" value="Call backend">
</body>

<script src="/static/index.js"></script>

</html>